<div class="mx-auto md:w-2/3 w-full bg-white rounded-lg shadow">
  <h1 class="text-md h-[40px] flex items-center rounded-t-lg bg-blue-500 text-white px-2">
    Modifier membre conseil
  </h1>
  <% content_for :sub_title, t("Membre conseils") %>
  <div class="p-2">
    <%= render "form", membre_conseil: @membre_conseil %>

    <%= link_to "Show this membre conseil", @membre_conseil, class: "ml-2 rounded-lg py-[3px] px-[10px] bg-gray-100 inline-block" %>
    <%= link_to "Back to membre conseils", membre_conseils_path, class: "ml-2 rounded-lg py-[3px] px-[10px] bg-gray-100 inline-block" %>
  </div>
</div>
