<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Membre conseils" %>
  <% content_for :sub_title, t("Membre conseils") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl">Membre conseils</h1>
    <%= link_to "New membre conseil", new_membre_conseil_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
  </div>

  <div id="membre_conseils" class="min-w-full">
    <% @membre_conseils.each do |membre_conseil| %>
      <%= render membre_conseil %>
      <p>
        <%= link_to "Show this membre conseil", membre_conseil, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
