<div id="<%= dom_id historique_apport %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Montant recu:</strong>
    <%= historique_apport.montant_recu %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Membre conseil:</strong>
    <%= historique_apport.membre_conseil_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date jour:</strong>
    <%= historique_apport.date_jour %>
  </p>

</div>
