<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Historique apports" %>
  <% content_for :sub_title, t("Apports local") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl">Historique apports</h1>
    <%= link_to "New historique apport", new_historique_apport_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
  </div>

  <div id="historique_apports" class="min-w-full">
    <% @historique_apports.each do |historique_apport| %>
      <%= render historique_apport %>
      <p>
        <%= link_to "Show this historique apport", historique_apport, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
