<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Historique apports" %>
  <% content_for :sub_title, t("Apports local") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl"></h1>
    <%= link_to "Nouveau apport local", new_historique_apport_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
  </div>

  <div id="historique_apports" class="min-w-full bg-white p-2 rounded-lg">


    <table class="w-full">
      <thead>
        <tr class="border-b-[1px] border-gray-400">
          <th>Membre conseil</th>
          <th>Montant recu</th>
          <th>Date jour</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @historique_apports.each do |historique_apport| %>
          <%= render historique_apport %>
        <% end %>
      </tbody>
    </table>


    
  </div>
</div>
