<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Partenaires" %>
  <% content_for :sub_title, t("Partenaires") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl"></h1>
    
    <% if current_user.role == "directeur" || "chargé de programme" %>
      <%= link_to "Nouveau partenaire", new_partenaire_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
    <% end %>
  </div>

  <div id="partenaires" class="min-w-full bg-white p-2 rounded-lg">
    
    <table class="w-full">
      <thead>
        <tr class="border-b-[1px] border-gray-400">
          <th>Photo</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Contact</th>
          <th>Mail</th>
          <th>Adresses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @partenaires.each do |partenaire| %>
          <%= render partenaire %>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>
