<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing financement</h1>

  <%= render "form", financement: @financement %>

  <%= link_to "Show this financement", @financement, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to financements", financements_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
