<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Salaires" %>
  <% content_for :sub_title, t("Salaires") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl"></h1>
  </div>

  <div id="salaires" class="min-w-full bg-white p-2 rounded-lg">

    <table class="w-full">
      <thead>
        <tr class="border-b-[1px] border-gray-400">
          <th>Employe</th>
          <th>Mois & Annee</th>
          <th>Montant</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @salaires.each do |salaire| %>
          <%= render salaire %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
