<div class="mx-auto md:w-2/3 w-full bg-white rounded-lg shadow">
  <h1 class="text-md h-[40px] flex items-center rounded-t-lg bg-blue-500 text-white px-2">
    Modifier la depense
  </h1>
  <% content_for :sub_title, t("Autres depenses") %>
  <div class="p-2">
    <%= render "form", autres_depense: @autres_depense %>

    <%= link_to "Show this autres depense", @autres_depense, class: "ml-2 rounded-lg py-[3px] px-[10px] bg-gray-100 inline-block" %>
    <%= link_to "Back to autres depenses", autres_depenses_path, class: "ml-2 rounded-lg py-[3px] px-[10px] bg-gray-100 inline-block" %>
  </div>
</div>
