<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Autres depenses" %>
  <% content_for :sub_title, t("Autres depenses") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl"></h1>
    <% if current_user.role == "trésorier" %>
      <%= link_to "Nouvelle depense", new_autres_depense_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
    <% end %>
  </div>

  <div id="autres_depenses" class="min-w-full bg-white p-2 rounded-lg">

    <table class="w-full">
      <thead>
        <tr class="border-b-[1px] border-gray-400">
          <th>Titre</th>
          <th>Montant</th>
          <th>Description</th>
          <th>Date jour</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @autres_depenses.each do |autres_depense| %>
          <%= render autres_depense %>
        <% end %>
      </tbody>
    </table>


    
  </div>
</div>
