<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Autres depenses" %>
  <% content_for :sub_title, t("Autres depenses") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl">Autres depenses</h1>
    <%= link_to "New autres depense", new_autres_depense_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
  </div>

  <div id="autres_depenses" class="min-w-full">
    <% @autres_depenses.each do |autres_depense| %>
      <%= render autres_depense %>
      <p>
        <%= link_to "Show this autres depense", autres_depense, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
