<div class="mx-auto md:w-2/3 w-full pb-6">
  <h1 class="font-[500] text-2xl">Nouveau employe</h1>

  <%= render "form", employe: @employe %>

  <%= link_to "Back to employes", employes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
