<div id="<%= dom_id employe_activite %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employe:</strong>
    <%= employe_activite.employe_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Activite:</strong>
    <%= employe_activite.activite_id %>
  </p>

</div>
