<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Employe activites" %>
  <% content_for :sub_title, t("Employe activites") %>

  <div class="flex justify-between items-center">
    <h1 class="font-[500] text-2xl">Employe activites</h1>
    <%= link_to "New employe activite", new_employe_activite_path, class: "py-3 px-5 text-blue-500 block font-medium" %>
  </div>

  <div id="employe_activites" class="min-w-full">
    <% @employe_activites.each do |employe_activite| %>
      <%= render employe_activite %>
      <p>
        <%= link_to "Show this employe activite", employe_activite, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
