<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
    <%= wicked_pdf_javascript_include_tag 'application' %>
</head>
<body>
    <div>alalalalalalalalalalalalalalalalalalalalalallal</div>
    <%= yield %>
</body>
</html>